<div id="jsonArgsContainer">
    <h3>method / args</h3>
    <select id="method-input-dropdown"></select>
    <div id="methodArgs">
        <!-- Populated with dynamically generated inputs based on method args -->
    </div>
</div>

<div style="bottom: 25px; left: 0; position: absolute">
    <p><b>After saving your code, you can use the following URL to view results anywhere. </b></p>
    <textarea id="url-input" style="width: 99%; padding: 0; height: 100px; overflow: hidden; word-wrap: break-word" ></textarea>
</div>