@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "About";
}


<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3">
		</div>
	    <div class="span6">
	        <h3>about</h3>

	        <h4>what is jitjot?</h4>
            <p>jitjot is a development platform based on the .NET framework that allows you to write and share code right from your browser!
	            What differentiates this site from other, similar sites is that with jitjot, your code can be treated as a RESTful service
	            the second you build it.  You have throttled access to the filesystem as well as network access.
	        </p>
            
	        <h4>so, what do I use it for?</h4>
	        <p>The jitjot platform has been setup to allow developers to write code that can interact with external
	            services fairly easily levaraging the .NET framework.
	        </p>
	        <p>So, it's up to you what you use it for.  You can create web services, web scrapers, basic proxies, data processing tools, tutorials,
	            or whatever else suits your needs
	        </p>
            
	        <h4>what does it mean that this project is in alpha?</h4>
	        <p>Since we are at such an early stage of this project, we decided to release it to the public in its current, under-development state.
	            We would love your feedback regarding bugs, opinions on the site, as well as ANY additional suggestions or features
                that you would like to see in the future.
	        </p>
	    </div>
		<div class="span3">
		</div>
	</div>
</div>


@section Scripts
{}
