@model string

@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
        </div>
        <div class="span6">
            <h2>Change password</h2>
            
            <h6>Type the new password you would like to use</h6>
            <input type="password" placeholder="password" id="pass1" value="" />
            <input type="password" placeholder="confirm password" id="pass2" value="" />
            <div>
                <a class="btn btn-primary" id="recover" href="javascript:void(0);">update password</a>
            </div>
            
            <p>
                <span id="chgpassmsg" class="error-message"></span>
            </p>
        </div>
        <div class="span3">
        </div>
    </div>
</div>

<script>
    
    function changePassword() {
        var p1 = $("#pass1").val();
        var p2 = $("#pass2").val();

        if (p1 != p2) {
            $("#chgpassmsg").text("Passwords do not match.");
            return;
        }

        $.ajax({
            url: "/api/account/setnewpassword",
            data: { resettoken: '@Model', password: p1 },
            type: "POST",
            success: function (response) {
                if (response.Success) {
                    window.location = response.Message;
                } else {
                    $("#chgpassmsg").text(response.Message);
                }
            }
        });
    }

    $("#recover").click(changePassword);

    onEnter('#pass1', changePassword);
    onEnter('#pass2', changePassword);
</script>