@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
        </div>
        <div class="span6">
            <h2>Account recovery</h2>
            <h6>If you forgot your password, enter the username you used to sign up for this account below</h6>
            <input type="text" placeholder="username" name="username-reset" id="username-reset" value="" />
            <div>
                <a class="btn btn-primary" id="recover" href="javascript:void(0);">send recovery email</a>
            </div>
            
            <div id="response"></div>
        </div>
        <div class="span3">
        </div>
    </div>
</div>

<script>
    function requestPasswordReset() {
        var btn = $('#recover');
        if (btn.hasAttribute('disabled')) return;
        btn.attr('disabled', 'disabled');
        
        var username = $("#username-reset").val();
        
        $.ajax({
            url: "/api/account/requestpasswordreset",
            data: { username: username },
            type: "POST",
            success: function(response) {
                $("#response").html(response.Message);
            }
        });
    }

    $("#recover").click(requestPasswordReset);

    onEnter('#username-reset', requestPasswordReset);
</script>