<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICompilerService" />
                <binding name="BasicHttpBinding_IRemoteSandbox" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50087/CompilerService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICompilerService"
                contract="CompilerService.ICompilerService" name="BasicHttpBinding_ICompilerService" />
            <endpoint address="http://localhost:49193/RemoteSandbox.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRemoteSandbox"
                contract="RemoteSandbox.IRemoteSandbox" name="BasicHttpBinding_IRemoteSandbox" />
        </client>
    </system.serviceModel>
</configuration>