@using Mvc.Mailer
@using dotcode.Models

We've received a password reset request from our site.  If you did not request this, you may disregard this email.<br/>
To reset the password for your account, click or paste the following link in your browser<br/>
<br/>

@{
    string url = UrlHelperExtensions.Abs(Url, "/" + UrlMap.PasswordResetUrlPrefix + "/" + ViewBag.Token);
}
<a href='@url'>reset password</a> or @url